<html>
    <head>
        <meta charset="utf-8" /> 
        <title>BrewLog</title>
        <link href="/out/style.css" rel="stylesheet" />
    </head>
    <body>
        <div id="root">
            
        </div>
        <script src="/out/bundle.js"></script>
    </body>
</html>